graft example
graft src

include LICENSE
include pyproject.toml
include README.md

prune docs
prune src/tests

global-exclude *.pyc
exclude .bumpversion.cfg
exclude .flake8
exclude CONTRIBUTING.md
exclude tasks.py